[workspace]
resolver = "3"
members = ["sdk", "sdk-macros"]

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
strip = true
panic = "abort"

[profile.release.package."*"]
opt-level = "z"

[profile.dev]
panic = "abort"
